/* 64em is also 1028px (if basefont is 16px) */
@media only screen and (min-width: 64rem) {


/*----------- BODY --------------*/

p {
    max-width: 600px;
}

/*----------- HEADER --------------*/

header h1 {
    margin-left: 20%;
}

/*----------- NAVIGATION --------------*/

nav ul li a{
    padding-left: 3%;
    padding-right: 3%;
    margin-left: 10%;
    text-align: center;
}

/*----------- MAIN --------------*/

main h2, main h3 {
    margin-top: 2%;
}

main ul li {
    margin-left: 35%;
}

/*----------- FOOTER --------------*/
    
} /* end of media query */